@import "tailwindcss";
@layer utilities {
  .an {
    animation: up 1.5s ease-in infinite;
  }
}
#videoCanvas {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

@keyframes up {
  0% {
    transform: translateY(0px) scale(1);
    fill: rgb(250, 209, 216);
  }
  50% {
    transform: translateY(10px) scale(0.8);
    fill: pink;
  }
  100% {
    transform: translateY(0px) scale(1);
    fill: rgb(250, 209, 216);
  }
}
