@import "tailwindcss";
@layer utilities {
  .an {
    animation: up 1.5s ease-in infinite;
  }
  .cardHover {
    @apply bg-[#fff9cb] hover:p-[1%] transition-all duration-1000  relative;
    cursor: url('/public/img/search-zoom-in-1 (1).svg') 16 16, auto;
  }
  .customSvg {
    @apply absolute right-5 bottom-5  w-10 rounded-lg text-[#fff9cb];
  }
}
#videoCanvas {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

@keyframes up {
  0% {
    transform: translateY(0px) scale(1);
    fill: rgb(250, 209, 216);
  }
  50% {
    transform: translateY(10px) scale(0.8);
    fill: pink;
  }
  100% {
    transform: translateY(0px) scale(1);
    fill: rgb(250, 209, 216);
  }
}

.cardHover:hover {
  > .customSvg {
    background-color: #5A5A66;

    transform: scale(1.4);
  }
}
